<%- include('partials/head.ejs')  %>
    </head>

<%- include('partials/navigation.ejs') %>

<main>
    <h1>Some error occurred!</h1>
    <p>We are working on fixing this problem.</p>
</main>

<%- include('partials/end.ejs') %>