<%- include('partials/head.ejs') %>
<!-- ADDITIONAL STYLES HERE -->
<link rel="stylesheet" href="css/home.css" />
<%- include('partials/navigation.ejs') %>
<main class="main">
    <section class="home-section">
        <h1 class="home-title">Welcome to the Home Page</h1>
        <p class="home-text">This is the homepage of my website.</p>
    </section>
</main>
<%- include('partials/footer.ejs') %>
