*,
a {
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1; /* This will take up the remaining space and push the footer down */
}

/* Navbar Styling */
.navbar {
    background-color: #333;
    padding: 20px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-family: sans-serif;
}

.nav-item:hover {
    text-decoration: underline;
}

/* Active Link Styling */
.nav-item.active {
    color: #28a745; /* Green for the active link */
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
