* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(96, 176, 230);
    padding: 0 1.5rem;
}
.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header__item-list {
    list-style: none;
    display: flex;
}
.main-header__item {
    margin: 0 1rem;
}
.main-header__item a {
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.main-header__item a:active {
}
.main-header__item a:hover,
.main-header__item a.active {
    color: rgb(86, 62, 110);
}

main {
    padding: 1rem;
}
